<style>
  /* Ensure the body and html are at full height */
  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  /* Ensure the container (or main content) takes the available space */
  .container {
    flex: 1;
  }

  /* Style the footer to be fixed at the bottom */
  footer {
    background-color: #f8f9fa; /* Background color for footer */
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom */
  }

  .footerInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .finfo_social i {
    margin-right: 10px;
    color: rgb(63, 63, 63);
  }

  .f-info_links a {
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
  }

  .f-info_links a:hover {
    text-decoration: underline;
  }
</style>

<footer>
  <div class="footerInformation">
    <div class="finfo_social">
      <a href="https://x.com/i_am_sa30_?t=NHpe5iacqjMxLb2nvbsufA&s=08"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
      <a href="https://www.instagram.com/i_am_sa30_?igsh=bXAyNTR6aDN4ZzFq"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/satish-chandra-9844b5250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
      "
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <!-- <div class="fInfo_brand">&copy; engineer resources</div> -->
    <div class="fInfo_brand">
      &copy; <span id="currentYear"></span> &nbsp; engineer resources
    </div>

    <script>
      // Get the current year
      const currentYear = new Date().getFullYear();
      // Set the inner text of the span to the current year
      document.getElementById("currentYear").innerText = currentYear;
    </script>

    <div class="f-info_links">
      <a href="https://wwwsatishportfoliocom.netlify.app/">About me</a>
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
