<footer>
<div class="footerInformation">
    <div class="finfo_social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="fInfo_brand">&copy; WonderLust Private Limited</div>
    <div class="f-info_links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        
    </div>
</div>
</footer>