<%- layout('/layouts/boilerplate') -%>
<div class="row offset-3">
  <div class="alert alert-primary col-6 " role="alert">
    <!-- <h1 class="m-10 offset-5"><%= err.statusCode%></h1>
    <h5 class="offset-4"><%= err.message%></h5> -->
    <h5 class="offset-4">Successfull</h5>
  </div>
</div>
